@import "tailwindcss";

@theme base {
  --color-bg: #1b1b1b;
  --color-bg-secondary: #2c2c2c;

  --color-primary: #808080;
  --color-accent: #ff9900;
  --color-surface: #1f1f1f;
  --color-border: #ff9900;

  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-text-muted: #575757;

  --color-error: #ff3333;
  --color-success: #33ff99;

  --text-2xl: 2rem;
  --text-xl: 1.5rem;

  --color-rank-1: #f5c542;
  --color-rank-2: #cfd8dc;
  --color-rank-3: #cd7f32;
  --color-rank-4: #5edfd6;
  --color-rank-5: #28c434;
}

@layer base {
  html,
  body {
    color: var(--color-text-primary);
    background: var(--color-bg);
    font-family: sans-serif;
  }
  h1 {
    font-size: var(--text-2xl);
    color: var(--color-text-primary);
  }
  h2 {
    font-size: var(--text-xl);
    color: var(--color-text-primary);
  }
  p,
  span,
  div {
    color: var(--color-text-primary);
  }
}
